
{{yield}}
{{#if answerUpdateFormShowing}}
  <div class="container">
    <h4>Update/Edit this Answer:</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Author Name:</label>
          {{input value=author id="author" placeholder=answer.author}}
        </div>

        <div class="form-group">
          <label for="content">Answer:</label>
          {{input value=content id="content" placeholder=answer.content}}
        </div>

        <button class="btn btn-sm btn-primary"{{action 'updateAnswer' answer}}>Save</button> <!--triggers the 'update' function with the current rental that was passed down from the #linkto tag with the ID-->
        <button class="btn btn-sm btn-warning"{{action 'hideAnswerUpdateForm'}}>Nevermind</button>
      </form>
    </div>
  </div>
{{else}}
  <button class="btn btn-success"{{action 'showUpdateForm'}}>Update</button> <!--Shows the input form-->
{{/if}}
