{{outlet}}
<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div class="container">
        <h1>All Questions:</h1>
        <ul>
          {{#each model as |question|}}
            <li>{{question-popularity question}}{{question-tile question=question}}</li>
          {{/each}}
        </ul>
        {{#if showFavorites}}
        {{favorites-display}}
        <button class="btn btn-warning" {{action 'hideFavoritesList'}}>Hide List</button>
        {{else}}
        <button class="btn btn-info" {{action 'showFavoritesList'}}>See My Favorites List</button>
        {{/if}}
      </div>
    </div>
    <div class="col-sm-5">
      <div class="container">
          {{new-question saveQuestion="saveQuestionInModel"}}
      </div>
    </div>
  </div>
</div>
