{{outlet}}
<h1>Question Details: {{model.author}}</h1>
{{delete-question question=model deleteThisQuestion="deleteThisQuestion"}}

<!--{{update-question question=model}}


{{answer-question question=model}}-->
